.m3o-auth-sign-in-title {
  margin: 0 0 1rem;
  font-size: 1.4rem;
}

.m3o-auth-sign-in-sub-title {
  color: #6c6c6c;
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: var(--m3o-spacing);
}

.m3o-auth-sign-in-button {
  width: 100%;
}

.m3o-auth-sign-in-account-text {
  margin-top: var(--m3o-spacing);
  color: #6c6c6c;
}

.m3o-auth-sign-in-register-button {
  color: var(--m3o-primary);
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: var(--m3o-font-family);
  font-size: 1rem;
  cursor: pointer;
}

.m3o-auth-sign-in-error {
  margin-bottom: var(--m3o-spacing);
}

.m3o-auth-sign-in-forgotten-password {
  margin-top: var(--m3o-spacing);
}

.m3o-auth-sign-in-forgotten-password a {
  color: var(--m3o-primary);
}

@media (min-width: 768px) {
  .m3o-auth-sign-in-title {
    font-size: 2rem;
  }
}
