@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');

body {
  color: black;
  background-color: whitesmoke;
}
.container, .container-xl {
  width: 100%;
  font-family: Karla, sans-serif;
}
a { color: black; font-weight: 400; }
.colour {
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  vertical-align:middle;
}
.colour:hover {
  cursor: pointer;
}
.link {
  color: black;
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  padding: 3px 5px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  background: white;
  margin-right: 5px;
}
.link:hover {
  text-decoration: none;
  cursor: pointer;
  background: whitesmoke;
}
.link a:hover {
  text-decoration: none;
}
.image {
  max-width: 450px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}
.info {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.title a:hover { text-decoration: none; }
.title img {
  --tw-bg-opacity: 1;
  background-color: black;
  vertical-align: bottom;
  padding: 1px;
  border-radius: 5px;
}
.markdown-body h2 {
  padding-bottom: 0.8em;
}
.header {
  margin-bottom: 20px;
}
.title {
  font-size: 1.4em;
}
h4.group-title, h4.post-title { 
  margin: 0;
  font-weight: normal;
}
.menu {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
}
.group-link {
  color: purple;
  text-transform: capitalize;
}
#chars {
  font-size: small;
  float: right;
}
#sidebar {
  width: 25%;
  float: left;
  display: inline-block;
}
#content {
  width: 74%;
  float: right;
  display: inline-block;
}
#content, #sidebar {
  background: whitesmoke;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 10px;
  --tw-bg-opacity: 1;
  height: calc(100vh - 175px);
  min-height: 450px;
  overflow: auto;
  position: relative;
}
#error {
  color: red;
}
.comment {
  background: white;
  --tw-bg-opacity: 1;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px;
  white-space: pre-wrap;
}
h4.groups-title, h4.posts-title {
  margin-top: 0;
}
.groups {
  overflow: scroll;
  height: calc(100% - 40px);
}

.posts {
  overflow: scroll;
  height: calc(100% - 155px);
}
.group, #new-group {
    background: white;
    --tw-bg-opacity: 1;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    vertical-align:top;
    position: relative;
    width: 100%;
    text-transform: capitalize;
}
.group a:hover {
  text-decoration: none;
}
.group:hover {
  background: whitesmoke;
  font-weight: bold;
}
.post {
    background: white;
    --tw-bg-opacity: 1;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    vertical-align:top;
    position: relative;
    white-space: pre-wrap;
}
.post-info {
  margin-bottom: 10px;
  display: block;
}
.post-nav {
  position: absolute;
  bottom: 5px;
  margin-top: 10px;
}
.post-content a, .comment a {
  color: purple;
}
#comment-box {
  margin-bottom: 10px;
}
#post-box {
  background: whitesmoke;
  border: 1px solid #DCDCDC;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}
textarea#text {
  width: 100%;
  position: relative;
}
textarea#comment {
  width: 100%;
  position: relative;
}
input#emails {
  vertical-align: middle;
}
input#title {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.upvote {
  font-size: 1.5em;
  vertical-align: middle;
}
#nav {
  list-style-type: none;
}
input, form #group, textarea {
  background: white;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 5px;
}
.right {
  float: right;
}
.selected, .selected:hover {
    background-color: #F0F0F0;
}
.selected .group-title {
  font-weight: bold;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.groups::-webkit-scrollbar, .posts::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.groups {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#date {
  font-size: small;
  font-weight: normal;
  margin-left: 10px;
}
#welcome {
  display: inline-block;
  font-weight: normal;
  margin: 0;
}
/* set last where screen size differs */
@media only screen and (max-width: 850px) {
  #sidebar {
    width: 100%;
    height: calc(100vh - 165px);
    margin-bottom: 10px;
  }
  #content {
    width: 100%;
    height: calc(100vh - 115px);
  }
}
