.container {
  label {
    color: gray;
    text-transform: uppercase;
    font-size: 10pt;
    margin-bottom: 10px;
  }

  input {
    border: solid 1px lightgray;
    height: 44px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  input[type='submit'] {
    background-color: #14248a;
    border: none;
    outline: none;
    height: 40px;
    margin-top: 40px;
    color: white;
    cursor: pointer;

    &:disabled {
      cursor: default;
      background-color: gray;
    }
  }
}

.title {
  margin-bottom: 50px;
}
