$mobileWidth: 500px;

.container {
  display: flex;
}

.main {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  width: 250px;
  flex-shrink: 0;

  .upper {
    position: relative;
    height: 65px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    @media only screen and (max-device-width: $mobileWidth) {
      border-bottom: none;
    }

    h1 {
      font-size: 11pt;
      margin-top: auto;
      margin-bottom: auto;
      flex-grow: 1;
      @media only screen and (max-device-width: $mobileWidth) {
        text-align: center;
      }
    }

    .initials {
      background-color: rgba($color: #a38b7b, $alpha: 0.1);
      position: relative;
      height: 30px;
      width: 30px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 50%;
      @media only screen and (max-device-width: $mobileWidth) {
        display: none;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0px;
        transform: translate(-50%, -50%);
        font-size: 8pt;
        font-weight: 500;
        color: #a38b7b;
      }
    }

    .dismiss {
      position: absolute;
      left: 20px;
      top: 5px;

      @media only screen and (min-device-width: $mobileWidth) {
        display: none;
      }
    }

    .settingsIcon {
      @media only screen and (min-device-width: $mobileWidth) {
        display: none;
      }
    }
  }

  .section {
    padding: 10px 20px;

    h3 {
      font-size: 10pt;
      font-weight: 500;
      margin: 0px 0px 5px 0px;

      span {
        margin-right: 3px;
      }
    }

    ul {
      padding: 0;
      margin-top: 0px;
      list-style-type: none;

      li {
        cursor: pointer;
        margin: 0px -20px 0px -20px;
        padding: 8px 20px 8px 20px;
        font-size: 9.5pt;
        display: flex;

        .msgIndicator {
          height: 6px;
          width: 6px;
          background-color: #14248a;
          border-radius: 50%;
          margin-top: auto;
          margin-bottom: auto;
        }

        p {
          margin: 0px;
          flex-grow: 1;
        }

        &:hover,
        &.linkActive {
          background-color: #f9f9f9;
        }

        &.gray {
          color: gray;
        }
      }
    }
  }

  @media only screen and (max-device-width: $mobileWidth) {
    display: none;

    &.show {
      z-index: 5;
      display: inline;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
    }
  }
}

.actionButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;

  @media only screen and (min-device-width: $mobileWidth) {
    .burgerIcon {
      display: none;
    }
  }

  p {
    font-size: 10pt;
    line-height: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 5px 0px;
    cursor: pointer;
    text-align: center;
    background-color: rgba($color: gray, $alpha: 0.1);
  }
}

.settingsContainer {
  z-index: 7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;

  .background {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .settings {
    z-index: 8;
    min-height: 300px;
    max-height: 80%;
    min-width: 350px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    overflow: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      font-size: 12pt;
      margin: 20px 0px;
    }

    .dismiss {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 8px 20px;
      line-height: 20px;

      @media only screen and (min-device-width: $mobileWidth) {
        display: none;
      }
    }

    section {
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 20px;
      }

      h2 {
        font-size: 8pt;
        font-weight: 500;
        padding: 0px 20px;
        text-transform: uppercase;
        color: gray;
        margin-bottom: 5px;
      }

      .emptyState {
        text-align: center;
        color: gray;
        font-style: italic;
        font-size: 10pt;
      }

      ul {
        padding: 0;
        margin: 0px;
        list-style-type: none;

        li {
          font-size: 10pt;
          line-height: 35px;
          cursor: pointer;
          padding: 0px 20px;
          display: flex;
          justify-content: space-between;

          p {
            margin: 0px;
            &:last-of-type {
              color: red;
              display: none;
              font-weight: 500;
            }
          }

          &:hover {
            background-color: #f9f9f9;
            p {
              &:last-of-type {
                display: inline;
              }
            }
          }

          .comingSoon {
            color: lightgray;
            font-style: italic;
            border-radius: 50px;
            float: right;
            font-size: 8.5pt;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 20px;
      padding-top: 0px;
      flex-grow: 1;

      input {
        outline: none;
        border: none;
        border-bottom: solid 1px lightgray;
        margin-bottom: 25px;
        padding: 5px 0px;

        &:focus {
          border-bottom-color: #a38b7b;
        }
      }

      input[type='submit'] {
        background-color: #a38b7b;
        border-radius: 5px;
        color: white;
        height: 35px;
        margin-top: auto;
        margin-bottom: 0px;
      }
    }

    @media only screen and (max-device-width: $mobileWidth) {
      width: 100%;
      height: 100%;
      margin: 0px;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0px;

      h1 {
        margin: 20px 0px;
      }

      section {
        ul {
          li {
            line-height: 45px;
          }
        }
      }
    }
  }
}
