$color: #a38b7b;

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $color, $alpha: 0.2);
  position: relative;
}

.inner {
  // styling for desktop
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 500px;
  width: 400px;

  // styling for mobile
  @media only screen and (max-width: 600px) {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: none;
    width: 100vw;
    height: 100vh;
    padding: 50px;
  }

  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 10pt;
    margin-bottom: 5px;
    color: black;
  }

  input {
    border: solid 1px lightgray;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
  }

  input[type='submit'] {
    background-color: #14248a;
    border: none;
    outline: none;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;

    &:disabled {
      cursor: default;
      background-color: gray;
    }
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: 'HKGrotesk';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16pt;
  text-align: center;
  letter-spacing: 4px;
  color: $color;
  margin-bottom: 50px;
}

.error {
  color: red;
  font-size: 10pt;
  margin-bottom: 30px;
  font-weight: bold;
}

.switch {
  color: #28262c;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  margin: 5px 0px;

  &:hover {
    color: #14248a;
  }
}
