.m3o-button {
  --m3o-button-border-radius: 5px;
  --m3o-button-font-weight: 500;
  --m3o-button-background-color: var(--m3o-primary);
  --m3o-button-text-color: var(--m3o-white);
  --m3o-button-font-size: 1rem;

  padding: var(--m3o-spacing) var(--m3o-spacing);
  border: none;
  font-family: var(--m3o-font-family);
  border-radius: var(--m3o-button-border-radius);
  font-weight: var(--m3o-button-font-weight);
  background-color: var(--m3o-button-background-color);
  color: var(--m3o-button-text-color);
  font-size: var(--m3o-button-font-size);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.m3o-button:active {
  transform: scale(0.975);
}
