.m3o-card {
  --m3o-card-border-radius: 5px;
  --m3o-card-max-width: 600px;

  font-family: var(--m3o-font-family);
  padding: var(--m3o-xl-spacing);
  border: var(--m3o-border);
  border-radius: var(--m3o-card-border-radius);
  background-color: var(--m3o-white);
  max-width: var(--m3o-card-max-width);
}

.m3o-card-title {
  margin: 0 0 1rem;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .m3o-card-title {
    font-size: 2rem;
  }
}
