.m3o-form-input {
  margin-bottom: var(--m3o-lg-spacing);
}

.m3o-form-input * {
  box-sizing: border-box;
}

.m3o-form-input label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.m3o-form-input input {
  width: 100%;
  border: var(--m3o-border);
  padding: var(--m3o-spacing);
  border-radius: var(--m3o-form-input-border-radius);
  font-family: var(--m3o-font-family);
  font-size: 1rem;
  outline-color: var(--m3o-primary);
}

.m3o-form-input input::placeholder {
  color: #afafaf;
  font-size: 0.9rem;
}

.m3o-form-input-error {
  color: rgb(var(--m3o-error-red));
  margin-top: var(--m3o-xs-spacing);
  font-size: 0.8rem;
}

.m3o-form-input.hasError input {
  border: 1px solid rgb(var(--m3o-error-red));
}

.hasError label {
  color: rgb(var(--m3o-error-red));
}
