@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-6 py-2 text-white font-bold text-sm bg-indigo-600 rounded-md hover:bg-indigo-700 transition-colors disabled:bg-opacity-30 disabled:text-indigo-600;
}

.circle-btn {
  @apply w-8 h-8 bg-zinc-700 flex items-center justify-center rounded-full text-sm text-white hover:bg-zinc-600;
}

.circle-btn.small {
  @apply w-6 h-6;
}

.circle-btn:disabled {
  @apply text-zinc-500;
}
