.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  margin-top: -80px;
  margin-bottom: -30px;
}

.stream {
  display: flex;
  z-index: 2;
  padding: 20px;
  padding-top: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba($color: #f5f3f2, $alpha: 1),
    rgba($color: #f5f3f2, $alpha: 0.9),
    rgba($color: #f5f3f2, $alpha: 0.8),
    rgba($color: #f5f3f2, $alpha: 0.7),
    rgba($color: #f5f3f2, $alpha: 0.5)
  );

  .streamButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
  }

  .button {
    font-size: 10pt;
    line-height: 40px;
    width: 40px;
    margin: 5px 0px;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    background-color: rgba($color: gray, $alpha: 0.1);
  }

  .buttonActive {
    color: green;
    background-color: rgba($color: green, $alpha: 0.2);
  }
}

.compose {
  z-index: 2;
  padding: 20px;
  padding-top: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba($color: #f5f3f2, $alpha: 0),
    rgba($color: #f5f3f2, $alpha: 1),
    rgba($color: #f5f3f2, $alpha: 1),
    rgba($color: #f5f3f2, $alpha: 1)
  );

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
  }

  p {
    height: 45px;
    width: 45px;
    margin: 0px;
    margin-right: -15px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  input {
    flex-grow: 1;
    border: solid 1px rgb(240, 240, 240);
    line-height: 30px;
    outline: none;
    border-radius: 10px;
    padding: 5px 15px;
  }
}
