$mobileWidth: 500px;

.isAuthor {
  margin-left: auto;
}

.container {
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: fit-content;
  max-width: 60%;
  margin-top: 10px;

  iframe {
    width: 500px;
    max-width: 100%;
    min-height: 300px;
    margin-top: 10px;
  }

  @media only screen and (max-device-width: $mobileWidth) {
    max-width: 100%;
  }
}

.upper {
  display: flex;
}

.author {
  font-weight: 500;
  font-size: 10pt;
  margin-top: auto;
  margin-bottom: auto;
}

.sentAt {
  font-weight: 400;
  font-size: 8pt;
  color: gray;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.text {
  font-size: 10pt;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
